/* media queries */

/********BREAKPOINTS********
Format tablette = 1024px
format smartphone = 767px
****************************/




/* Format Tablette classique: Augmentation des cadres des menus sur toutes les pages. Diminution de l'image de la note.
  Diminution de la police des titres et de "Prochainement". Augmentation du cadre de prochainement */

@media (max-width: 1024px) {


  .index_section_menu_la-note-enchantee img {
    width: 50%;
  }

  .index_section_menu_la-note-enchantee,
  .index_section_menu_le-chic-a-la-francaise,
  .index_section_menu_le-delice-des-papilles,
  .index_section_menu_la-palette-du-gout {
    width: 45%;
    height: 45%;
    margin: 1rem auto;
  }

  .carte_menu_la-note-enchantee,
  .carte_menu_le-chic-a-la-francaise,
  .carte_menu_le-delice-des-papilles,
  .carte_menu_la-palette-du-gout {
    width: 90%;
  }

  .titre_menu_la-note-enchantee_index,
  .titre_menu_le-chic-a-la-francaise_index,
  .titre_menu_le-delice-des-papilles_index,
  .titre_menu_la-palette-du-gout_index {
    font-size: 2rem;
  }

  .titre_resto_le-chic-a-la-francaise_index {
    font-size: 1.5rem;
  }

  .titre_resto_le-delice-des-papilles_index {
    font-size: 2.5rem;
  }


  .service h3 {
    font-size: 1.4rem;
  }

  .carte_menu_le-delice-des-papilles .service h3 {
    font-size: 1.2rem;
  }

  .carte_menu_la-palette-du-gout .service h3 {
    font-size: 1.2rem;
  }


  .prochainement {
    font-size: 1.2rem;
    width: 40%;
  }


}

/* Format Smartphone: Transformation des cadres des menus sur la page index.
     Diminution générale des polices, images et marges.
     Diminution de la police de "Prochainement" et augmentation du cadre */

@media (max-width: 767px) {
  .index_section_menu_la-note-enchantee img {
    width: 25%;
    padding-top: 2.5rem;
  }

  .index_section_menu_la-note-enchantee,
  .index_section_menu_le-chic-a-la-francaise,
  .index_section_menu_le-delice-des-papilles,
  .index_section_menu_la-palette-du-gout{
    width: 90%;
    height: 22%;
  }

  .titre_resto_le-chic-a-la-francaise_index {
    font-size: 1.2rem;
  }
  .restaurant_h1 {
    font-size: 1.3rem;
  }
  .titre_resto_la-note-enchantee_carte,
  .titre_resto_le-chic-a-la-francaise_carte,
  .titre_resto_le-delice-des-papilles_carte,
  .titre_resto_la-palette-du-gout_carte {
    font-size: 1.8rem;
    margin: auto;
  }

  .service {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  .service img {
    width: 15%;
  }
  .carte_menu_la-note-enchantee .service h3,
  .carte_menu_le-chic-a-la-francaise .service h3,
  .carte_menu_le-delice-des-papilles .service h3,
  .carte_menu_la-palette-du-gout .service h3 {
    font-size: 1rem;
  }

  .recette {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
  }

  .prix {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }

  .carte_menu_le-chic-a-la-francaise .recette {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  .carte_menu_le-chic-a-la-francaise .service img {
    width: 10%;
  }
  .carte_menu_le-chic-a-la-francaise .prix {
    margin-right: 0.8rem;
    font-size: 1.1rem;
  }

  .resto_la-note-enchantee_end h2 {
    font-size: 1.8rem;
  }
  .prochainement {
    font-size: 1.1rem;
    width: 60%;
  }
  .footer_lien {
    font-size: 1.1rem;
  }
  .mention {
    margin-right: 1rem;
    text-align: center;
  }

  .contact {
    margin-left: 1rem;
    text-align: center;
  }
}
