@mixin section_menu_x {
  box-shadow: 0 0 1em #e2e2e2;
  width: 40%;
  height: 45%;
  margin: 1.5em 1.5em 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

@mixin carte_menu_x {
  width: 60%;
  margin: auto;
  font-family: 'segoe print', 'Comic Sans MS', sans-serif;
  box-shadow: 0 0 1em #e2e2e2;
}



@mixin pointsuspension{
  margin: 0.1em;
  font-weight: bold;
  animation: points;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  
  &:nth-child(2){
    animation-delay: 0.7s;
  }

  &:nth-child(3){
    animation-delay: 1.4s;
  }
}