/*----------MIXIN DE STYLE (CADRE MENU DE L'INDEX ET CADRE MENU INDIVIDUEL)-------------*/

@mixin section_menu_x {
  box-shadow: 0 0 1em #e2e2e2;
  width: 35%;
  height: 45%;
  margin: 1.5em 1.5em 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

@mixin carte_menu_x {
  width: 75%;
  margin: auto;
  font-family: "segoe print", "Kalam", sans-serif;
  box-shadow: 0 0 1em #e2e2e2;
}

/*----------MIXIN DES ANIMATIONS-------------*/

/*------------ @zoom : EFFET ZOOM DES MENUS DE INDEX-------------- */

@keyframes zoom_menu {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.6;
    transform: scale(1.2);
  }
}

@mixin zoom {
  animation: zoom_menu 2s forwards;
}

/*------------ @tremblement : EFFET TREMBLEMENT FOOTER-------------- */
@keyframes wiggle {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  25% {
    transform: translate(-2px, 2px) rotate(01eg);
  }

  50% {
    transform: translate(2px, -2px) rotate(0deg);
  }

  75% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }

  100% {
    transform: translate(2px, -2px) rotate(1deg);
  }

}

@mixin tremblement {
  animation: wiggle 0.3s infinite;
}

/*----------- @suspension : POINTS DE SUSPENSION ----------------*/

@keyframes points {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin pointsuspension {
  margin: 0.1em;
  font-weight: bold;
  animation: points;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &:nth-child(2) {
    animation-delay: 0.7s;
  }

  &:nth-child(3) {
    animation-delay: 1.4s;
  }
}

/*----------- @soulignement : SOULIGNEMENT DES SERVICES DE CHAQUE MENU ----------------*/

@mixin soulignement {
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: black;
    transition: width 0.7s ease;
    -webkit-transition: width 0.7s ease;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}
