$bkg_primary: #579c87;
$bkg_menu_la-note-enchantee: #fcdfdb;
$bkg_menu_le-chic-a-la-francaise: #fff5fe;
$bkg_menu_le-delice-des-papilles: #f3f5f6;
$bkg_menu_la-palette-du-gout: #f7ffef;
$font_primary: #fcca47;
$font_menu_la-note-enchantee_primary: #3e141a;
$font_menu_le-chic-a-la-francaise_primary: #d8852e;
$font_menu_le-delice-des-papilles_primary: #0936e0;
$font_menu_la-palette-du-gout_primary: #3d9339;
$font_menu_le-chic-a-la-francaise_secondary: #6e4ccc;
$font_menu_le-delice-des-papilles_secondary: #399dfa;
$font_menu_la-palette-du-gout_secondary: #bfff7e;
