$bkg_primary: #579c87;
$bkg_menu1: #fcdfdb;
$bkg_menu2: #fff5fe;
$bkg_menu3: #f3f5f6;
$bkg_menu4: #f7ffef;
$font_primary: #fcca47;
$font_menu1_primary: #3e141a;
$font_menu2_primary: #d8852e;
$font_menu3_primary: #0936e0;
$font_menu4_primary: #3d9339;
$font_menu2_secondary: #6e4ccc;
$font_menu3_secondary: #399dfa;
$font_menu4_secondary: #bfff7e;
